---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="page-intro reveal" data-reveal>
  <h2>{title}</h2>
  <p>{description}</p>
</div>
